html {
    font-size: 100%;
}

img {
    max-width: 100%;
    height: auto;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    margin: 60px 0 10px 0;

}

header img {
    width: 180px;
}

#mainvisual {
    margin-bottom: 60px;
}

.contents {
    margin: 0 100px;
}

#index.section {
    background-color: #f5f5f5;
    padding: 60px;
    margin-bottom: 60px;

}
#index.section h4 {
    font-size: 1.125rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

#index.section div {
    border: solid 1px #333;
    padding: 30px 30px;
    margin: 0;

}

#index.section ol {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#index.section ol li {
    font-size: 0.85rem;
    margin-bottom: 20px;

}

#index.section ol li:last-child {
    margin-bottom: 0;
}

#grid.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:15px;
    margin-bottom: 60px;
}

#detail.section {
    background-color: #f5f5f5;
    padding: 60px;
    margin-bottom: 60px;

}

#detail.section h4 {
    font-size: 1.125rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

#detail.section .detail-box {
    margin: 0;
}

.detail-item {
    display: flex;
    font-size: 0.85rem;
}

.table {
    padding-right:40px;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: solid 1px #333;
    width: 35%;
}

.table dt {
    font-weight:bold;
}

.table dd {
    margin-left: 0;
    margin-bottom: 10px;

}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left:40px;
    /* margin:0; */
}
.text p {
    margin: 0 0 20px;
}

.text a {
    color: #333;
}

footer {
    font-size: 10px;
    text-align: center;
    padding: 10px 0;
    margin:0;
}

footer p {
    margin:0;
}








