html {
   font-size: 100%;
}

body {
   color: #383e45;
}

a {
   text-decoration: none
}

li {
   list-style: none
}

img {
   max-width: 100%;
}

.site-title {
   width: 120px;
   line-height: 1px;
   padding: 10px 0;
}

.site-title a {
   display: block;
}

#header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
}

#header ul {
   display: flex;
   padding: 10px 0;
}

#header li {
   margin-left: 30px
}

#header a {
   color: black
}

#header a:hover {
   opacity: 0.7;
}

#mainvisual {
   margin-bottom: 80px;
}

#about .content {
   display: flex;
   align-items: center;
   margin-top: 30px;
}

#about img {
   width: 100px;
   height: 100px;
   border-radius: 80%;
   margin-right: 30px;
}







#bicycle ul {
   display: flex;
}

#footer {
   font-size: 13px;
   text-align: center;
   padding: 10px 0;
}

