html{
    font-size: 100%;
}

body {
    color: #333;
    background-color: #f4f9ff;
    font-size: 0.875rem;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f4f9ff;
    margin-top: 60px;
}


header img {
    width: 160px;
}

#mainvisual {
    object-fit: cover;
    margin-bottom: 64px;
}

#index_section {
    background-color: #fff;
    padding: 30px 0px;
    margin-bottom: 60px;
}

#index   {
    max-width: 600px;
    margin: 0 auto;
}

.section_title{
    font-size: 1.125rem;
    /* text-align: left; */
    margin: 0 0 10px 0;
}

#index_list {
    margin: 0 0 0 20px;
    padding: 0px;
}

#index_list li {
    font-size: 14px;
    margin-bottom: 20px;
}

#index_list li:last-child{
    margin-bottom: 0px;
}

#detail_div {
    display: flex;
    justify-content: space-between;
}

#detail_img {
    width: 270px;
    margin-right: 60px; 
}


