html{
    font-size: 100%;
}

body {
    color: #333;
    background-color: #f4f9ff;
    font-size: 0.875rem;
    margin: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f4f9ff;
    margin-top: 60px;
}

header {
    margin: 60px 0 10px 0;
}

header img {
    width: 160px;
}

#mainvisual {
    object-fit: cover;
    margin-bottom: 64px;
}

#index_section {
    background-color: #fff;
    padding: 30px 0px;
    margin-bottom: 60px;
}

.descoriptions   {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 40px;
}


.section_title{
    font-size: 1.125rem;
    margin: 0 0 10px 0;
}

#index_list {
    margin: 0 0 0 20px;
    padding: 0px;
}

#index_list li {
    font-size: 14px;
    margin-bottom: 20px;
}

#index_list li:last-child{
    margin-bottom: 0px;
}

#detail_section {
    padding: 0 200px;
}

#detail_div {
    display: flex;
}

#detail_img {
    width: 270px;
    height: auto;
    margin-right: 60px; 
}

#detail_div h2 {
    margin: 0 0 20px 0;
}

#detail_div dl {
    display: flex;
    flex-wrap: wrap;
    border-top: #cfcfcf 1px solid;
    border-bottom: #cfcfcf 1px solid;
    width: 100%;
    padding: 16px 0;
}

#detail_div dt {
    width: 25%;
}

#detail_div dd {
    width: 75%;
}